. root {
	-fx-padding: 0px 10px 0px 10px;
	-fx-spacing: 10px;
	-fx-background: lightblue;
}



. hbox {
	-fx-padding: 10px 0px 10px 0px;
	-fx-spacing: 10px;
}

#cbox {
	-fx-border-color: red;
}

#startMenu.MenuStart {
	-fx-graphic: url("Icon-DE.png");
	-fx-background: red;
}

# controlArea {
	-fx-background: purple;
	-fx-border-width: 3.0px;
	-fx-border-color: blue;
}



# grid1 {
	-fx-background: purple;
	-fx-hgap: 4;
	-fx-vgap: 4;
}

# controls {
	-fx-background-radius: 5.0;
	
}

.gridPane {
	-fx-hgap: 4;
	-fx-vgap: 4;
}

. label {
  -fx-font-size: 16px;
  -fx-font-weight: bold;
  -fx-text-fill: #0000C0;
  -fx-alignment: center-right;
}

. text-field {
  -fx-font-size: 16px;
  -fx-font-weight: bold;
  -fx-text-fill: #000000;
  -fx-alignment: center-left;
}

. button {
  -fx-font-size: 16px;
  -fx-font-weight: bold;
  -fx-text-fill: #C00000;
  -fx-min-width: 200;
}

. text-area {
  -fx-font-family: monospace;
  -fx-font-size: 12px;
}

#TopBox {
	-fx-alignment: center;
	-fx-spacing: 5px;
}

# BottomBox {
	-fx-alignment: center;
	-fx-spacing: 5px;
}

# IP {
	-fx-pref-width: 200px;
}

# Port {
	-fx-pref-width: 100px;
}

